body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 16px 200px;
  align-items: end;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

li {
  color: #e5e7eb;
  font-size: 18px;
}

.title {
  font-size: 24px;
  color: #f9faf8;
}

.part-1 {
  background-color: #1f2937;
  padding: 120px 200px;
  display: flex;
}

.awesome {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.cor-dir {
  display: flex;
  flex-direction: column;
}

.sec-text {
  color: #e5e7eb;
  font-size: 18px;
}

.sign-up {
  background-color: #3882f6;
  color: #f9faf8;
  border-style: none;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  margin-top: 10px;
  font-weight: 600;
}

.img-place {
  box-sizing: border-box;
  background: gray;
  height: auto;
  width: 1200px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.part-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 200px;
}

.container {
  display: flex;
  gap: 50px;
}

.card {
  text-align: center;
  color: #5f5f5f;
  font-size: 14px;
  width: 130px;
}

.info {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 35px;
}

img {
  border: 2px solid;
  height: 120px;
  width: 120px;
  border-color: #3882f6;
  border-radius: 5px;
}

.part-3 {
  background-color: #e5e7eb;
  padding: 90px 325px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.author {
  display: flex;
  font-size: 18px;
  color: #1f2937;
  justify-content: end;
}

.part-4 {
  display: flex;
  padding: 90px 200px;
  justify-content: center;
}

.whole {
  background-color: #3882f6;
  display: flex;
  padding: 0px 125px;
  width: 600px;
  height: 125px;
  border-radius: 5px;

  align-items: center;
}

.button-desc {
  font-size: 18px;
  color: white;
  margin-bottom: 5px;
  font-weight: 900;
}

.short-txt {
  font-size: 12px;
  color: rgb(217, 213, 213);
  flex: 1;
}

.add-space {
  margin-right: 150px;
}

.button-des {
  color: white;
  background-color: #3882f6;
  border: 2px solid white;
  height: 35px;
  border-radius: 5px;
  width: 120px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  padding: 25px 0;
  color: white;
}
